/* CSS reset */
body{
    height: 100vh;
    width: 100vw;
}
*{
    margin:0px;
    padding: 0px;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar{
     width: 100vw;
    display: flex;
    align-items: center;
    position: absolute;
    /* to bring navbar on its parent */
    top: 0px;
}     
    #navbar ul{
        display: flex;
    }
    #navbar::before{
        content: "";
        background-color: black;
        position: absolute;
        height: 140px;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
    }

/* Navigation Bar: Logo and Image */
#logo{
    margin: 9px 9px;
}
#logo img{
    height: 107px;
    margin: 8px 19px;
}
/* Navigation Bar: List Styling */
    
#navbar ul li{
    list-style: none;
    font-size: 1.6rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 9px 11px;
    border-radius: 30px;
    text-decoration: none;
     }
#navbar ul li a:hover{
     color: black;
     background-color: white;
     }

     /* Home styling */
     #home{
         top: 0px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         /* padding: 3px 22px; */
         align-items: center;
         height: 640px;
     }
     #home::before{
        content: "";
        background: url('../Images/bg1.jpg') no-repeat center center/cover;
        position: absolute;
        height: 640px;
        width: 100vw;
        z-index: -1;
        opacity: 0.9;   
     }
     #home h1{
         color: white;   
         font-family: 'New Tegomin', serif;      
         }
     #home p{
         justify-content: center;
         align-items: center;
         text-align: center;
         color: white;         
         font-size: 25px;
         font-family: 'Dancing Script', cursive;
         }
         /* services section */
         #services-container{
             color: rgb(90, 45, 45);
             flex-direction: column;
             display: flex;
             /* flex-wrap: wrap; */
             height: 681px;
             justify-content: center;
             align-items: center;
         } 
         #services-container::before{
            content: "";
            background: url('../Images/bg.jpg') no-repeat center center/cover;
            position: absolute;
            height: 681px;
            width: 100vw;
            z-index: -1;
            opacity: 0.8;   
         }
                  
          

         #services{
             margin: 34px 10pxpx;
             display: flex;
              
         }
         #services .box{
             /* height: 300px;
             width: 420px; */
             color: white;
             border: 5px solid #1e495b;
             padding: 20px 5px;
             margin: 25px 35px;
             border-radius: 20px;
             background-color: cadetblue;
                           
         }
          
         #services .box h2{
              text-align: center;
              font-size: 45px;               
         }
         #services .box img{
             display: block;
              height: 100px;
              width: 100px;
              margin: auto;
        }
     /* client section */
     #client-section{
         color: white;
         height: 256px;
         display: flex;
         flex-direction: column;
     }
     #client-section::before{
 
        content: "";
        background-color: tomato;
        position: absolute;
        height: 256px;
        width: 100vw;
        z-index: -1;
        opacity: 0.8;   
     }
     #client{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          }
     .clientlogo{
         padding: 33px;
       }
     .clientlogo img{
          height: 120px;
          width: 120px;
      }
      /* contact section */
      #contact{
          display: flex;
          flex-direction: column;
           justify-content: center;
           align-items: center;    
          height: 600px;
      }
    #contact h1{
        color: white;
        animation-name: conanimation;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        font-family: 'Dancing Script', cursive;
    }
    @keyframes conanimation{
        0%{
           color: turquoise;
        }
        25%{
            color: chocolate;
        }
        50%{
            color: deeppink;
        }
        75%{
           color: black;
        }
    }
      #contact::before{
        
        content: "";
        background: url('../Images/Contact.jpg') no-repeat center center/cover;
        position: absolute;
        height: 600px;
        width: 100vw;
        z-index: -1;
        opacity: 0.8;   
     } 
     #contact-form{
         /* border: 5px solid rgb(77, 45, 45); */
         border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 480px;
        width: 375px;
     }
     #contact-form input{
         
         font-size: 21px;
         width: 300px;
         height: 35px;
         /* border: 5px solid black; */
         border-radius: 15px;
         align-items: center;
         padding: 5px 35px;
         margin: 20px;
         }
     #contact-form label{
         font-size: 35px;
         color: blanchedalmond;
     }    
       /* footer part */
     #contact-form textarea{
         font-size: 15px;
         border-radius: 5px;
         width: 90%; 
         height: 100%;
     }    
       /* footer part */
       footer{
           background-color: black;
           color: white;
           padding: 5px 20px;
       }
     /* Utility Classes */
     .h-primary{
         font-size: 3.8rem;
         padding: 12px;
     }
     .h-secondary{
         font-size: 2.8rem;
         padding: 12px;
     }
     .center{
        text-align: center;
     }
     .btn{
         
         font-size: 20px;
        padding: 5px 24px;
        background-color: white;
        color: black;
        border: 2px solid black;
        border-radius: 28px;
        margin: 20px 24px;
        cursor: pointer;
    }
    
     .btn:hover{
         color: white;
         background-color: black;
          
        }

     