
*{
    margin: 0;padding: 0;
}
#home{
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('https://source.unsplash.com/user/erondu/1600x900');
    align-items: center;
    height: 640px;
}
#home::after {
    content: "";
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 640px;
    width: 100vw;
    /* z-index: -1; */
    opacity: 0.3;
}
#home .home {
display: flex;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
}
#home .home .home-box{
width: 50%;
height: 50%;
justify-content: center;
align-items: center;
}
  #welcome-msg{
     color: black;
     font-size: 4rem;
     text-align: center;
    }
     
#description{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.description{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    justify-content: center;
    text-align: center;
}